absl-py==2.1.0
appdirs==1.4.4
astor==0.8.1
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
fonttools==4.51.0
frozendict==2.4.1
gast==0.5.4
grpcio==1.62.1
h5py==3.11.0
html5lib==1.1
idna==3.7
keras==3.2.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
lxml==5.2.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mdurl==0.1.2
ml-dtypes==0.4.0
multitasking==0.0.11
namex==0.0.7
numpy==1.26.4
optree==0.11.0
packaging==24.0
pandas==2.2.2
pandas-ta==0.3.14b0
peewee==3.17.1
pillow==10.3.0
protobuf==5.26.1
Pygments==2.17.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
rich==13.7.1
six==1.16.0
sklearn-preprocessing==0.1.0
soupsieve==2.5
tensorboard==1.12.2
tensorflow @ https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.12.0-py3-none-any.whl#sha256=f587dc03b5f0d1e50cca39b7159c9f21ffdec96273dbf5f7619d48c622cb21f2
termcolor==2.4.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
webencodings==0.5.1
Werkzeug==3.0.2
yfinance==0.2.37
